* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.chat-container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
}
.chat-left-side {
	width: 20%;
	border-right: solid 1px #f1f1f1;
	overflow-x: auto;
}
.chat-list__top {
    display: flex;
    height: 40px;
    padding: 0 12px;
    align-items: center;
    justify-content: flex-end;
    border-bottom: solid 1px #f1f1f1;
}
.add-chat-btn {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.chat-list__body {
	height: calc(100vh - 40px);
}
.dialog {
	display: flex;
    height: 56px;
    padding: 0 12px;
    border-bottom: solid 1px #f1f1f1;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.dialog:hover,
.dialog_active {
	background: #f1f1f1;
}
.dialog__user-avatar {
	height: 40px;
}
.dialog__user-avatar img {
	height: 100%;
}
.dialog__text {
	width: calc(100% - 40px);
	padding-left: 12px;
	font-family: 'Times New Roman', sans-serif;
}
.dialog__username {
	font-size: 15px;
	font-weight: bold;
	line-height: 21px;
    
}
.dialog__last {
	display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
	line-height: 18px;
}
.dialog__last-msg {
	font-size: 12px;
    width: calc(100% - 30px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.dialog__last-time {
	font-size: 12px;
}
.chat-right-side {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.chat-room {
	width: calc(100vw - 40%);
	height: 100%;
	overflow-x: auto;
}
.chat-room__messages {
	height: calc(100% - 40px);
	padding: 12px;
	background: #f5f5f5;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.message {
    padding: 8px 12px;
    max-width: 60%;
    font-family: 'Times New Roman', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.message_in {
    float: left;
    color: #fff;
    background: #1aabba;
}
.message_out {
    float: right;
    color: #000;
    background: #fff;
}
.chat-room__footer {
	padding: 9px 0 9px 40px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #f1f1f1;
}
.input-field {
    width: 100%;
    height: 22px;
    padding: 0 12px;
	font-family: 'Times New Roman', sans-serif;
    font-size: 14px;
    border-radius: 3px;
    border: solid 1px #999;
    outline: none;
}
.send-btn {
	width: 24px;
	height: 24px;
	margin: 0 12px;
	cursor: pointer;
}
.user-info {
	width: calc(100vw - 80%);
	padding-top: 40px;
	text-align: center;
}
.user-info__avatar {
	width: 140px;
	margin: 0 auto;
}
.user-info__avatar img {
	width: 100%;
}
.user-info__name {
    padding: 12px;
	font-family: 'Times New Roman', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
/* .user-info__actions {} */

.action-btn {
	display: inline-block;
    height: 24px;
    width: 24px;
    padding: 2px;
    margin: 0 3px;
    border: solid 1px #777;
    border-radius: 50%;
    cursor: pointer;
}
.action-btn:hover {
    background: #f1f1f1;
}
.modal-backdrop {
	display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
}
.modal-backdrop.active {
    display: block;
}
.modal {
    background: #fff;
    position: absolute;
    min-width: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal__head {
    position: relative;
    border-bottom: solid 1px #ccc;
    padding: 6px 12px;
}

.modal__close {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 12px;
    height: 12px;
    font-size: 20px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}

.modal__title {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1024px) {
	.chat-left-side {
		width: 40%;
	}
    .chat-right-side {
        width: 60%;
        flex-direction: column-reverse;
    }
    .chat-room {
        width: 100%;
    }
	.user-info {
		width: 100%;
        padding: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
	}
    .user-info__avatar {
        width: 24px;
        padding: 0;
        margin: 0;
    }
    .user-info__name {
        padding: 0 12px;
    }
    .user-block {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}